@media screen and (max-width: 900px) {
    
    .section-two-container {
        width: 90%;
    }

    .player {
        width: 50%;
    }
    
    .section-three-container {
        font-size: 75%;
    }
    
}