@media screen and (max-width: 600px) {
    
    .banner {
        height: 600px;
    }
    
    .section-one-container {
        width: 90%;
    }
    
    .section-two-container {
        width: 80%;
    }
    
    .player {
        width: 100%;
    }
}